---
import { getCollection } from "astro:content";

import Link from "@/components/common/Link.astro";

import { getUrl } from "@/lib/utils";
import type { PostIndex, StyledProps, IterableRenderProps } from "@/types";

interface Props extends StyledProps, IterableRenderProps<PostIndex> {
  type: "categories" | "tag" | "series";
}

const {
  class: className = "",
  style: styleAttr = "",
  type,
  renderer: Comp,
} = Astro.props;

const items = await getCollection(
  "postIndex",
  (entry) => entry.data.type === type,
);
---

<ul class:list={[className]} style={styleAttr}>
  {
    items.map((item, index) => (
      <li class="group">
        <Link href={getUrl("index", item.id)}>
          <Comp id={item.id} index={index} item={item} />
        </Link>
      </li>
    ))
  }
</ul>
