---
import Decorator from "@/components/common/Decorator.astro";
import type { PostIndex, StyledProps } from "@/types";

interface Props extends StyledProps {
  index: PostIndex;
  showCount?: boolean;
}

const {
  class: className = "",
  style: styleAttr = "",
  index,
  showCount = false,
} = Astro.props;
---

<Decorator class:list={[className]} style={styleAttr}>
  <slot name="icon" slot="deco" />
  <Fragment slot="default">
    <span class="text-foreground/80 group-hover:text-foreground transition">
      {index.data.name}
    </span>
    {
      showCount && (
        <span class="text-foreground/50 ml-1"> ({index.data.count})</span>
      )
    }
  </Fragment>
</Decorator>
