---
import { getCollection } from "astro:content";
import type { StyledProps } from "@/types";

import Decorator from "@/components/common/Decorator.astro";
import IndexList from "@/components/ui/index/IndexList.astro";
import TagItem from "./TagItem.astro";

interface Props extends StyledProps {}

const { class: className = "", style: styleAttr = "" } = Astro.props;

const tags = await getCollection(
  "postIndex",
  (index) => index.data.type === "tags",
);
---

<div class:list={[className, "card flex flex-col px-4 py-2"]} style={styleAttr}>
  <Decorator class="text-foreground mb-1">
    <span>Tags</span>
  </Decorator>
  <IndexList
    class="mb-1 flex flex-wrap gap-2"
    items={tags}
    renderer={TagItem}
  />
</div>
