@import "tailwindcss";

.btn {
  --background: var(--select);
  --hover-background: oklch(from var(--background) calc(l + 0.03) c h / 100%);
  --active-background: oklch(from var(--background) calc(l + 0.01) c h / 100%);

  @apply rounded-select flex items-center justify-center bg-[var(--background)] py-1 transition select-none;

  &:is(:hover, :focus-visible) {
    @apply bg-[var(--hover-background)];
  }

  &.icon {
    @apply text-foreground p-1.5;
  }
  &.disabled {
    @apply pointer-events-none cursor-not-allowed opacity-50;
  }

  &:is(:active) {
    @apply bg-[var(--active-background)];
  }

  &[data-variant="ghost"] {
    --background: oklch(from var(--select) l c h / 0%);
  }

  &[data-variant="outline"] {
    --background: oklch(from var(--select) l c h / 0%);

    @apply border-border border;
  }
}
