@import "tailwindcss";

.hueHandle {
  border-radius: 0.125rem;
  padding: 0 5px 0 5px;
  appearance: none;
  height: 1.5rem;
  background-image: var(--rainbow);
  width: 100%;

  &::-moz-range-thumb,
  &::-webkit-slider-thumb {
    appearance: none;
    width: 0.5rem;
    height: 1rem;
    border: none;
    border-radius: 0.125rem;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: none;
  }

  &::-moz-range-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  &::-webkit-slider-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  &::-moz-range-thumb:active {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &::-webkit-slider-thumb:active {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
