---
import Link from "@/components/atom/common/Link.astro";
import { getEntry } from "astro:content";

interface Props {
  newerRef: string;
  olderRef: string;
}

const { newerRef, olderRef } = Astro.props;
const newerPost = await getEntry("posts", newerRef);
const olderPost = await getEntry("posts", olderRef);
---

<nav class="flex gap-4 text-sm font-medium">
  <Link
    href={olderPost ? `/blog/${olderPost?.id}` : "#"}
    class:list={[
      "btn text-foreground flex flex-1 justify-end",
      { disabled: !!!olderPost },
    ]}
    data-variant="outline"
  >
    <div class="flex flex-1 flex-col items-start">
      <span class="text-foreground/50">Previous Post</span>
      <span>
        {olderPost?.data.title ?? "No previous post"}
      </span>
    </div>
  </Link>
  <Link
    href={newerPost ? `/blog/${newerPost?.id}` : "#"}
    class:list={[
      "btn text-foreground flex flex-1 justify-start",
      { disabled: !!!newerPost },
    ]}
    data-variant="outline"
  >
    <div class="flex flex-1 flex-col items-end">
      <span class="text-foreground/50">Next Post</span>
      <span>
        {newerPost?.data.title ?? "No next post"}
      </span>
    </div>
  </Link>
</nav>
