---
import type { Post, StyledProps } from "@/types";

interface Props extends StyledProps {
  post: Post;
}

const { post, class: className = "", style: styleAttr = "" } = Astro.props;
const thumbnail = post.data.image;
---

<div class="text-foreground font-medium">
  {
    thumbnail && (
      <img class="rounded-surface" src={thumbnail.src} alt="thumbnail" />
    )
  }
  <h1 class="text-2xl">
    {post.data.title}
  </h1>
</div>
