---
import { type MarkdownHeading } from "astro";
import { toStyleVars } from "@/lib/utils";
import Link from "@/components/common/Link.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<ul class="sticky top-0 overflow-x-scroll" slot="right-aside">
  {
    headings.map((heading) => (
      <li
        class:list={[
          "text-foreground btn justify-start px-2 py-1 not-first:mt-1",
        ]}
        data-variant="ghost"
      >
        <Link
          href={`#${heading.slug}`}
          class:list={["ml-[var(--depth)]"]}
          style={toStyleVars({ depth: heading.depth - 1 })}
        >
          {heading.text}
        </Link>
      </li>
    ))
  }
</ul>

<script>
  const contentHeadings = Array.from(
    document.querySelectorAll<HTMLElement>(".prose h2"),
  );
  const contentHeadingOffset = contentHeadings.forEach((heading, index) => ({
    id: heading.id,
    start: heading.offsetTop,
    end: contentHeadings[index + 1]?.offsetTop || document.body.scrollHeight,
  }));

  const isVisible = (start, end) => {
    console.log(window.scrollY);
  };

  document.addEventListener("scroll", isVisible);
  console.log(contentHeadings);
  console.log(contentHeadingOffset);
</script>
