---
import type { GetStaticPaths } from "astro";

import Layout from "@/layouts/Layout.astro";
import PostMetadata from "@/components/PostMetadata.astro";

import { SITE_APPEARANCE_CONFIG } from "@/consts/site";
import { getAllPosts } from "@/lib/post";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getAllPosts();
  return paginate(posts, { pageSize: SITE_APPEARANCE_CONFIG.postPerPageCount });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout>
  <ul class="flex flex-col gap-4">
    {
      page.data.map((post) => (
        <li class="card flex-1">
          <PostMetadata post={post} />
          <p class="mb-3.5 line-clamp-2 pr-4">{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</Layout>
