---
import type { GetStaticPaths } from "astro";

import Layout from "@/layouts/Layout.astro";
import AnimationSequence from "@/components/extra/AnimationSequence.astro";
import PostPagination from "@/components/post/PostPagination.astro";
import PostCard from "@/components/post/PostCard.astro";

import { SITE_APPEARANCE_CONFIG } from "@/consts/site";
import { getSortedPosts } from "@/lib/content-util";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();
  return paginate(posts, { pageSize: SITE_APPEARANCE_CONFIG.postPerPageCount });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout>
  <AnimationSequence
    as="ul"
    class="flex flex-col gap-2"
    animationClass="onload-animation"
    initialDelay={100}
    effectDepth={2}
  >
    {
      page.data.map((post) => (
        <li>
          <PostCard class="card" post={post} />
        </li>
      ))
    }
    <PostPagination page={page} />
  </AnimationSequence>
</Layout>
