---
import type { GetStaticPaths } from "astro";

import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/PostList.astro";
import PostPagination from "@/components/PostPagination.astro";

import { SITE_APPEARANCE_CONFIG } from "@/consts/site";
import { getSortedPosts } from "@/lib/content-util";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();
  return paginate(posts, { pageSize: SITE_APPEARANCE_CONFIG.postPerPageCount });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

console.log(page);
---

<Layout>
  <div class="onload-animation flex flex-col gap-2">
    <PostList posts={page.data} />
    <PostPagination page={page} />
  </div>
</Layout>
