---
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import PostMetadata from "@/components/PostMetadata.astro";
import CategoryCard from "@/components/CategoryCard.astro";
import TagCard from "@/components/TagCard.astro";
import TableOfContent from "@/components/TableOfContent.astro";

import { getAllPosts } from "@/lib/post";
import AnimDelayInjector from "@/components/ui/AnimDelayInjector.astro";

export const getStaticPaths = (async () => {
  const posts = await getAllPosts();
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<Layout>
  <div slot="side-left">
    <CategoryCard />
    <TagCard />
  </div>
  <div class="card">
    <h1>{post.data.title}</h1>
    <PostMetadata post={post} />
    <article class="prose">
      <Content />
    </article>
  </div>
  <TableOfContent slot="side-right" headings={headings} />
</Layout>
