---
import type { GetStaticPaths } from "astro";
import { render, getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import PageSection from "@/layouts/PageSection.astro";
import Author from "@/components/ui/Author.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<MainLayout contentWidth={50}>
  <PageSection contentWidth={50} asideWidth={18} gap={0.5}>
    <Author
      class="card bg-surface/30 flex gap-2 p-2 backdrop-blur-xs"
      avatarUrl="/src/assets/demo-profile.jpg"
      slot="left-aside"
    />
  </PageSection>
  <PageSection contentWidth={50} asideWidth={18} gap={2}>
    <div class="text-foreground prose">
      <Content />
    </div>
    <ul class="card" slot="right-aside">Hello!!!</ul>
  </PageSection>
</MainLayout>
