@import "tailwindcss";

@layer utilities {
  @keyframes reveal-center {
    0% {
      clip-path: inset(50% 0 50% 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes zoom-out {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes emergeFrom {
    0% {
      transform: translateY(var(--direction));
    }
    100% {
      transform: translateY(0);
    }
  }
}
@layer components {
  .onload-animation {
    --direction: 2rem;

    &[data-emerge-direction="down"] {
      --direction: -2rem;
    }

    opacity: 0;
    animation:
      400ms fade-in,
      400ms emergeFrom;
    animation-fill-mode: forwards;
  }

  .animate-reveal-center {
    opacity: 0;
    animation:
      /* reveal-center 400ms cubic-bezier(0.4, 0.2, 0, 0.9), */ fade-in
      400ms;
    animation-fill-mode: forwards;
    will-change: clip-path;

    & img {
      animation: 900ms zoom-out;
    }
  }
}
