@import "tailwindcss";

@layer utilities {
  @keyframes reveal-center {
    0% {
      clip-path: inset(50% 0 50% 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes zoom-out {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes emergeFrom {
    0% {
      transform: translateY(var(--direction));
    }
    100% {
      transform: translateY(0);
    }
  }
}
@layer components {
  .anim-banner-entering {
    animation: fade-in ease 400ms;
    animation-fill-mode: forwards;
    will-change: clip-path;

    & img {
      animation: 700ms ease zoom-out;
    }
  }

  .anim-navigation-entering {
    --direction: calc(-1 * var(--navigationHeight));
    animation:
      fade-in 400ms ease,
      emergeFrom 400ms ease;
    animation-fill-mode: forwards;
  }

  .anim-main-entering {
    --direction: 2rem;
    animation:
      fade-in 400ms ease-out,
      emergeFrom 400ms ease-out;
    animation-fill-mode: forwards;
  }

  .anim-onload {
    --direction: 2rem;
    opacity: 0;
    animation:
      emergeFrom 200ms 0s,
      fade-in 200ms 0s;
    animation-fill-mode: forwards;
  }

  .anim-delay-sequence {
    & > * {
      --max: 300ms;
      --delay: calc(var(--max) * (var(--i) / (var(--i) + 4)));
      animation-delay: var(--delay);
    }
  }

  html.is-changing .transition-swup-page {
    @apply transition-all duration-200;
  }

  html.is-animating .transition-swup-page {
    @apply translate-y-4 opacity-0;
  }
}
