@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --rainbow-light: linear-gradient(
    to right,
    oklch(0.8 0.1 0),
    oklch(0.8 0.1 30),
    oklch(0.8 0.1 60),
    oklch(0.8 0.1 90),
    oklch(0.8 0.1 120),
    oklch(0.8 0.1 150),
    oklch(0.8 0.1 180),
    oklch(0.8 0.1 210),
    oklch(0.8 0.1 240),
    oklch(0.8 0.1 270),
    oklch(0.8 0.1 300),
    oklch(0.8 0.1 330),
    oklch(0.8 0.1 360)
  );
  --rainbow-dark: linear-gradient(
    to right,
    oklch(0.7 0.1 0),
    oklch(0.7 0.1 30),
    oklch(0.7 0.1 60),
    oklch(0.7 0.1 90),
    oklch(0.7 0.1 120),
    oklch(0.7 0.1 150),
    oklch(0.7 0.1 180),
    oklch(0.7 0.1 210),
    oklch(0.7 0.1 240),
    oklch(0.7 0.1 270),
    oklch(0.7 0.1 300),
    oklch(0.7 0.1 330),
    oklch(0.7 0.1 360)
  );
}

:root {
  --radius: 0.625rem;
  --page-width: 75rem;
  --banner-height: 40vh;

  --page-background: oklch(0.95 0.01 var(--hue));
  --foreground: oklch(0.3 0 0);
  --card-background: var(--color-white);
  --button-background: oklch(0.8 0.015 var(--hue));

  --border: oklch(0.922 0 var(--hue));
  --ring: oklch(0.708 0 var(--hue));
}

[data-theme="dark"] {
  --page-background: oklch(0.16 0.014 var(--hue));
  --foreground: oklch(0.9 0 0);
  --card-background: oklch(0.23 0.015 var(--hue));
  --button-background: oklch(0.3 0.015 var(--hue));

  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.556 0 var(--hue));
}

@layer components {
  .card {
    @apply bg-[var(--card-background)] text-black/90 transition dark:text-white/90;
  }

  .floating-menu {
    @apply relative z-50;

    & :where([data-role="trigger"]) {
      @apply rounded-md bg-amber-500 p-2;
    }

    & :where([data-role="content"]) {
      @apply pointer-events-none absolute left-[50%] translate-x-[-50%] -translate-y-1 rounded-md bg-amber-400 p-4 opacity-0 transition;
    }

    &:hover > :where([data-role="content"]) {
      @apply pointer-events-auto translate-y-2 opacity-100;
    }
  }
}
