---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import Decorator from "@/components/common/Decorator.astro";
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import PostList from "@/components/post/PostList.astro";
import { indexType } from "@/consts";
import { objectValues } from "@/lib/utils";

export const getStaticPaths = (async () => {
  return [undefined, ...objectValues(indexType)].map((type) => ({
    params: { type: type },
  }));
}) satisfies GetStaticPaths;

const { type } = Astro.params;

const postIndex = await getCollection(
  "postIndex",
  (index) => index.data.type === (type || "publishedYear"),
);
const posts = await getCollection("posts");

const indexes = postIndex.map((index) => ({
  ...index,
  data: {
    ...index.data,
    items: posts
      .filter((post) => index.data.items.includes(post.id))
      .sort(
        (a, b) => +new Date(b.data.published) - +new Date(a.data.published),
      ),
  },
}));
---

<MainLayout>
  <div class="space-y-2">
    <Decorator class="text-foreground" slot="header">
      <span class="bg-accent mr-2 h-4 w-0.5" slot="deco"></span>
      <Breadcrumbs />
    </Decorator>
    {
      indexes.map((index, i) => (
        <div class="space-y-2">
          <Decorator class="text-foreground" slot="left-aside">
            <span class="bg-accent mr-2 h-4 w-0.5" slot="deco" />
            <h1 class="text-foreground text-lg">{index.data.name}</h1>
          </Decorator>
          <PostList posts={index.data.items} />
        </div>
      ))
    }
  </div>
</MainLayout>
