---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import Decorator from "@/components/common/Decorator.astro";
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import PostList from "@/components/post/PostList.astro";

export const getStaticPaths = (async () => {
  const indexes = await getCollection("postIndex");
  return indexes.map((index) => ({
    params: { index: index.id },
    props: { index },
  }));
}) satisfies GetStaticPaths;

const { index } = Astro.props;

const posts = await getCollection("posts", (post) =>
  index.data.items.includes(post.id),
);
---

<MainLayout>
  <div class="space-y-2">
    <Decorator class="text-foreground">
      <span class="bg-accent mr-2 h-4 w-0.5" slot="deco"></span>
      <Breadcrumbs />
    </Decorator>

    <PostList posts={posts} />
  </div>
</MainLayout>
