---
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";

import PostList from "@/components/ui/post/PostList.astro";
import PostItem from "@/components/ui/post/PostItem.astro";
import Link from "@/components/common/Link.astro";

import { ROUTE, APPEARANCE } from "@/consts";
import { joinUrl } from "@/lib/utils";

const recentPosts = (await getCollection("posts")).slice(
  0,
  APPEARANCE.recentPostCount,
);
---

<MainLayout>
  <div>
    <PostList
      class:list={["space-y-2"]}
      items={recentPosts}
      renderer={PostItem}
    />
    <Link
      class="btn text-foreground mx-auto w-fit"
      data-variant="ghost"
      href={joinUrl(ROUTE["blog"].href)}>See more blogs</Link
    >
  </div>
</MainLayout>
