---
import { getAllCategories } from "@/lib/post";
import Link from "@/components/ui/Link.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: className, ...props } = Astro.props;

const categories = await getAllCategories();
---

<div class:list={["card", className]} {...props}>
  <h1>Categories</h1>
  {
    categories.map((category) => (
      <Link href={`archive/?category=${category}`}>{category}</Link>
    ))
  }
</div>
