---
import { Icon } from "astro-icon/components";
import Link from "@/components/ui/Link.astro";
import ThemeController from "@/components/ThemeController.svelte";
import HueController from "@/components/HueController.svelte";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header
  class:list={[
    className,
    "card flex items-center justify-between rounded-t-none rounded-b-xl p-4",
  ]}
>
  <div class="flex gap-1 px-5 text-xl">
    <Icon name="lucide:house" class="mr-2 mb-1 text-[1.75rem]" />
    lilamaris
  </div>
  <div class="flex gap-1">
    <Link href="/">Home</Link>
    <Link href="/posts">Post</Link>
  </div>
  <div class="flex gap-1">
    <HueController client:only="svelte" />
    <ThemeController client:only="svelte" />
  </div>
</header>
