---
import { House } from "@lucide/svelte";

import ThemeController from "@/components/ThemeController.svelte";
import HueController from "@/components/HueController.svelte";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header
  class:list={[
    className,
    "card flex items-center justify-between rounded-t-none rounded-b-xl p-4",
  ]}
>
  <div class="flex gap-1 px-5 text-xl">
    <House /> lilamaris
  </div>
  <div><a href="/">Home</a></div>
  <div class="flex gap-1">
    <HueController client:only="svelte" />
    <ThemeController client:only="svelte" />
  </div>
</header>
