---
---
<div class="flex items-center gap-1">
  <div class="rounded-md bg-background text-foreground w-8 h-8 flex items-center justify-center">
    <slot name="icon" />
  </div>
  <span class="text-sm font-medium">
    <slot />
  </span>
</div>
