---
import { CalendarDays, Bookmark, Tag } from "@lucide/svelte"

import IconText from "@/components/ui/IconText.astro";

import { formatDate } from "@/lib/utils";
import type { Post } from "@/types/post";

interface Props {
  post: Post
}

const { post }: Props = Astro.props;
---
<IconText>
  <CalendarDays slot="icon" />
  {formatDate(post.data.published)}
</IconText>
{post.data.seriesName && (
  <IconText>
    <Bookmark slot="icon" />
    {post.data.seriesName}
  </IconText>
)}
<IconText>
  <Tag slot="icon" />
  <div class="flex gap-2 flex-nowrap">
    <span>
      {post.data.category}
    </span>
    {(post.data.tags.map((tag,i) => (
      <div class:list={[{"hidden": i==0}, "mx-1.5 text-sm"]}>/</div>
      <a href={""}>{tag.trim()}</a>
    )))}
  </div>
</IconText>
