---
import type { HTMLAttributes } from "astro/types";
import PostCard from "./PostCard.astro";
import type { Post } from "@/lib/content-util";

interface Props extends HTMLAttributes<"ul"> {
  posts: Post[];
}

const { posts, class:className, ...props }: Props = Astro.props;
---


<ul class:list={[className, "flex flex-col gap-2 onload-animation" ]} {...props}>
    {
    posts.map((post, i) => (
        <li  style=`animation-delay: ${i * 100}ms` >
      <PostCard post={post}/>
    <div class="card">
      <div>
        Series: {post.data.series}
      </div>
      <div>
        Next: {post.data.nextPostSlug ?? "Not found"}
      </div>

      <div>
        Prev: {post.data?.previousPostSlug ?? "Not found"}
      </div>
    </div>
        </li>
      ))
    }
  </ul>
