---
import type { HTMLAttributes } from "astro/types";
import PostCard from "@/components/PostCard.astro";
import type { Post } from "@/lib/content-util";
import AnimationSequence from "@/components/extra/AnimationSequence.astro";

interface Props extends HTMLAttributes<"ul"> {
  posts: Post[];
}

const { posts, class: className, ...props }: Props = Astro.props;
---

{
  posts.map((post) => (
    <li>
      <PostCard class="card" post={post} />
    </li>
  ))
}
