---
import { type MarkdownHeading } from "astro";
import Link from "./ui/Link.astro";
import DecorateText from "@/components/ui/DecorateText.astro";

interface Props {
  class?: string;
  headings: MarkdownHeading[];
}

const { class: className, headings }: Props = Astro.props;
---

<table-of-contents class:list={["card w-max p-8", className]}>
  {
    headings.map((heading) => (
      <li style={`margin-left: ${(heading.depth - 1) * 1}rem`}>
        <Link href={`#${heading.slug}`}>
          <DecorateText>{heading.text}</DecorateText>
        </Link>
      </li>
    ))
  }
</table-of-contents>
