---
import { type MarkdownHeading } from "astro";

interface Props {
  class?: string;
  headings: MarkdownHeading[];
}

const { class: className, headings }: Props = Astro.props;
---

<ul class:list={["card w-max p-4", className]}>
  {
    headings.map((heading) => (
      <li style={`margin-left: ${(heading.depth - 1) * 2}rem`}>
        {heading.text}
      </li>
    ))
  }
</ul>
