---
import Link from "@/components/ui/Link.astro";
import { getAllTags } from "@/lib/content-util";
import type { HTMLAttributes } from "astro/types";
import DecorateText from "./ui/DecorateText.astro";
interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: className, ...props } = Astro.props;

const tags = await getAllTags();
---

<div class:list={["card flex flex-col gap-2", className]} {...props}>
  <DecorateText>Tags</DecorateText>
  <div class="flex flex-wrap gap-1">
    {
      Object.entries(tags).map(([canonical, tag]) => (
        <Link class="btn" data-size="md" href={`/archive?tag=${canonical}`}>
          {tag.label}
        </Link>
      ))
    }
  </div>
</div>
