---
import type { StyledProps } from "@/types";
import type { HTMLTag, Polymorphic } from "astro/types";

export type DecoratorProps<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> &
  StyledProps;

const {
  as: tag = "span",
  class: className = "",
  style: styleAttr = "",
  ...props
} = Astro.props;
---

<tag
  class:list={[className, "relative flex items-center"]}
  style={styleAttr}
  {...props}
>
  {
    Astro.slots.has("deco") ? (
      <span class:list={["icon text-accent mr-1"]}>
        <slot name="deco" />
      </span>
    ) : (
      <span class="bg-accent mr-2 h-4 w-0.5" />
    )
  }
  <slot />
</tag>
