---
import type { StyledProps } from "@/types";
import type { HTMLTag, Polymorphic } from "astro/types";

export type props<tag extends HTMLTag> = Polymorphic<{ as: tag }> & StyledProps;

const {
  as: tag = "span",
  class: classname = "",
  style: styleAttr = "",
  ...props
} = Astro.props;

const deco = await Astro.slots.render("deco");
---

<tag
  class:list={[classname, "relative flex items-center"]}
  stlye={styleAttr}
  {...props}
>
  {
    deco ? (
      <span class:list={["icon text-accent mr-1"]}>
        <Fragment set:html={deco} />
      </span>
    ) : (
      <span class="bg-accent mr-2 h-4 w-0.5" />
    )
  }
  <slot />
</tag>
