---
import type { StyledProps } from "@/types";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props extends StyledProps {
  src: string;
  alt?: string;
}

const { src, alt, class: className = "", style: styleAttr = "" } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpg,jpeg,png}",
);
if (!images[src]) throw new Error(`"/src/assets/${src}" does not exists`);
---

<div class:list={[className]} style={styleAttr}>
  <Image
    src={images[src]()}
    alt={alt || ""}
    class="h-full object-cover object-center"
  />
</div>
