---
import type { StyledProps } from "@/types";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props extends StyledProps {
  id?: string;
  src: string;
  alt?: string;
}

const {
  id,
  src,
  alt,
  class: className = "",
  style: styleAttr = "",
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpg,jpeg,png,webp,avif,svg}",
);
const imageLoader = images[src];
---

<div
  id={id}
  class:list={[className, "pointer-events-none overflow-hidden select-none"]}
  style={styleAttr}
>
  {
    imageLoader ? (
      <Image
        src={imageLoader()}
        alt={alt || ""}
        class="h-full object-cover object-center"
      />
    ) : (
      <img
        src={src}
        alt={alt || ""}
        class="h-full object-cover object-center"
      />
    )
  }
</div>
