---
import type { Post } from "@/types/post";
import Card from "@/components/Card.astro";
import PostMetadata from "@/components/post/PostMetadata.astro";

interface Props {
  class?: string;
  post: Post;
}

const { class: className, post }: Props = Astro.props;
---

<Card>
  <a slot="title" href={`/posts/${post.data.slug}`}>{post.data.title}</a>
  <div>
    <PostMetadata post={post} />
    <div class="mb-3.5 line-clamp-2 pr-4">
      {post.data.description}
    </div>
  </div>
</Card>
