---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h1"> {
  class?: string;
  description?: string;
}

const { class: className, description }: Props = Astro.props;
---

<p class:list={[className]}>
  {description ?? "No description"}
</p>
