---
import { type MarkdownHeading } from "astro";
import { toStyleVars } from "@/lib/utils";
import Link from "@/components/common/Link.astro";
import type { StyledProps } from "@/types";

interface Props extends StyledProps {
  headings: MarkdownHeading[];
}

const { class: className, style: styleAttr, headings } = Astro.props;
---

<table-of-contents>
  <div
    id="toc-wrapper"
    class:list={[className, "relative overflow-y-scroll"]}
    style={styleAttr}
  >
    <ul class="mx-4 py-2">
      {
        headings.map((heading) => (
          <li class="text-foreground/50 hover:text-accent not-first:mt-1">
            <Link
              href={`#${heading.slug}`}
              class:list={["btn justify-start px-2 py-0.5"]}
              data-variant="ghost"
            >
              <span
                class:list={["pl-[calc(var(--depth)_*_0.7)]"]}
                style={toStyleVars({ depth: heading.depth - 1 })}
              >
                {heading.text}
              </span>
            </Link>
          </li>
        ))
      }
    </ul>
    <div
      id="viewport-indicator"
      class:list={[
        "bg-accent rounded-surface absolute left-0 -z-10 w-1 transition-[height,top] duration-100",
      ]}
    >
    </div>
  </div>
</table-of-contents>
