---
interface Props {
  list: string[];
}
const { list: tags } = Astro.props;
---

<ul class="flex flex-wrap gap-1">
  {
    tags.map((tag) => (
      <li class="bg-neutral text-foreground rounded-md px-2 py-px text-xs before:content-['#']">
        {tag}
      </li>
    ))
  }
</ul>
