---
import "@/styles/global.css";
import { SITE } from "@/consts";
import { splitUrl } from "@/lib/utils";

const path = Astro.url.pathname;
const base = splitUrl(path)[0];
---

<html lang={SITE.lang}>
  <head>
    <script is:inline type="module" src="/src/lib/swup.js"></script>
    <script is:inline define:vars={{ base }}>
      function getHue() {
        const hue = localStorage.getItem("hue") || "250";
        return hue;
      }
      function getTheme() {
        const theme = localStorage.getItem("theme") || "light";
        return theme;
      }

      document.documentElement.style.setProperty("--hue", getHue());
      document.documentElement.setAttribute("data-baseloc", base);
      document.documentElement.setAttribute("data-theme", getTheme());
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
  </head>
  <body class="relative min-h-screen">
    <slot />
  </body>
</html>
