---
import "@/styles/global.css";
import { SITE } from "@/consts/site";
import type { StyledProps } from "@/types";

interface Props extends StyledProps {
  contentWidth?: number;
}

const { class: className, style: styleAttr } = Astro.props;
---

<html lang={SITE.lang}>
  <head>
    <script is:inline>
      document.documentElement.style.setProperty(
        "--hue",
        localStorage.getItem("hue") || "250",
      );
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme") || "light",
      );
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
  </head>
  <body class="flex min-h-screen flex-col">
    <div class="absolute -z-10 w-full">
      <slot name="background" />
    </div>
    <header class="fixed inset-x-0 z-10">
      <slot name="header" />
    </header>
    <div class="flex-1">
      <main class:list={[className]} style={styleAttr}>
        <slot />
      </main>
    </div>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
