---
import "@/styles/global.css";
import { siteConfig } from "@/consts";
---

<html lang={siteConfig.lang}>
  <head>
    <script is:inline type="module" src="/src/lib/swup.js"></script>
    <script is:inline>
      function getBaseUrl() {
        const path = window.location.pathname;
        const parts = path.split("/").filter(Boolean);
        const base = parts.length > 0 ? parts[0] : "root";
        return base;
      }

      function getHue() {
        const hue = localStorage.getItem("hue") || "250";
        return hue;
      }
      function getTheme() {
        const theme = localStorage.getItem("theme") || "light";
        return theme;
      }

      document.documentElement.style.setProperty("--hue", getHue());
      document.documentElement.setAttribute("data-baseloc", getBaseUrl());
      document.documentElement.setAttribute("data-theme", getTheme());
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
  </head>
  <body class="relative min-h-screen">
    <slot />
  </body>
</html>
