---
import "@/styles/global.css";
import SeoHead from "@/components/meta/SeoHead.astro";
import { siteConfig, themeConfig } from "@/consts";
import type { SeoMeta } from "@/types";

interface Props {
  seo?: SeoMeta;
}

const { initialHue, initialTheme } = themeConfig;
const { seo } = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <script>
      import "@/lib/table-of-contents";
      import "@/lib/swup.js";
    </script>
    <script is:inline define:vars={{ initialHue, initialTheme }}>
      const path = window.location.pathname;
      const parts = path.split("/").filter(Boolean);
      const base = parts.length > 0 ? parts[0] : "root";
      document.documentElement.setAttribute("data-baseloc", base);

      const hue = localStorage.getItem("hue") || String(initialHue);
      document.documentElement.style.setProperty("--hue", hue);
      const theme = localStorage.getItem("theme") || initialTheme;
      document.documentElement.setAttribute("data-theme", theme);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SeoHead {...seo} />
    <slot name="head" />
  </head>
  <body class="relative min-h-screen">
    <slot />
  </body>
</html>
