---
import "@/styles/global.css";
import { siteConfig } from "@/consts";
---

<html lang={siteConfig.lang}>
  <head>
    <script is:inline type="module" src="/src/lib/table-of-contents"></script>
    <script is:inline type="module" src="/src/lib/swup.js"></script>
    <script is:inline>
      const path = window.location.pathname;
      const parts = path.split("/").filter(Boolean);
      const base = parts.length > 0 ? parts[0] : "root";
      document.documentElement.setAttribute("data-baseloc", base);

      const hue = localStorage.getItem("hue") || "250";
      document.documentElement.style.setProperty("--hue", hue);
      const theme = localStorage.getItem("theme") || "light";
      document.documentElement.setAttribute("data-theme", theme);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
  </head>
  <body class="relative min-h-screen">
    <slot />
  </body>
</html>
