---
import "@/styles/global.css";

import Avatar from "@/components/ui/Avatar.astro";
import Head from "@/components/Head.astro";
import Banner from "@/components/ui/Banner.astro";
import Navigation from "@/components/ui/Navigation.astro";
import { SITE, APPEARANCE } from "@/consts/site";

const bannerOffset = APPEARANCE.bannerHeight - APPEARANCE.bannerOverlap;
const pageWidth = APPEARANCE.pageWidth;
---

<html lang={SITE.lang}>
  <Head>
    <slot name="head" />
  </Head>
  <body class="min-h-screen">
    <Banner />

    <main
      class="relative mx-auto grid grid-cols-[14rem_1fr_auto]"
      style={`top: ${bannerOffset}rem; max-width: ${pageWidth}rem`}
    >
      <aside class="mr-4 flex flex-col gap-4">
        {Astro.slots.has("side-left") ? <slot name="side-left" /> : <Avatar />}
      </aside>
      <div class="flex flex-col gap-4">
        <Navigation />
        <slot />
      </div>
      {
        Astro.slots.has("side-right") && (
          <aside class="ml-4 flex max-w-[14rem] flex-col gap-4">
            <slot name="side-right" />
          </aside>
        )
      }
    </main>
  </body>
</html>
<script>
  const swupSetup = () => {
    console.log("Start Swup Setup");

    window.swup.hooks.on("animation:out:start", () => {
      console.log("Animation out start");
    });

    window.swup.hooks.on("visit:start", (visit) => {
      console.log("Visit start: ", visit);
    });

    window.swup.hooks.on("page:view", () => {
      console.log("Page View");
    });

    window.swup.hooks.on("visit:end", (visit) => {
      console.log("Visit end: ", visit);
    });
  };

  if (window?.swup?.hooks) {
    swupSetup();
  } else {
    document.addEventListener("swup:enable", swupSetup);
  }
</script>
