---
import "@/styles/global.css";
import "@/styles/transition.css";

import Header from "@/components/Header.astro";
import Img from "@/components/ui/Img.astro";
import AvatarCard from "@/components/AvatarCard.astro";
import TagCard from "@/components/TagCard.astro";

import { SITE_CONFIG } from "@/consts/site";
import AnimationSequence from "@/components/extra/AnimationSequence.astro";
---

<html lang={SITE_CONFIG.lang} class="bg-[var(--page-bg)] transition">
  <head>
    <script is:inline>
      document.documentElement.style.setProperty(
        "--hue",
        localStorage.getItem("hue") || "250",
      );
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme") || "light",
      );
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
  </head>
  <body class="min-h-screen">
    <div
      class="animate-reveal-center pointer-events-none absolute top-0 -z-10 w-full select-none"
    >
      <Img
        src="/src/assets/demo-banner.jpg"
        alt="banner"
        class="h-[var(--banner-height)]"
      />
    </div>
    <div class="relative mx-auto h-full max-w-[var(--page-width)]">
      <div class="onload-animation" data-emerge-direction="down">
        <Header />
      </div>
      <main
        class="absolute top-[calc(var(--banner-height)_-_var(--banner-overlap))] grid w-full grid-cols-[17.5rem_auto] grid-rows-[auto_1fr_auto] gap-2"
      >
        <AnimationSequence
          as="div"
          class="flex flex-col gap-2"
          animationClass="onload-animation"
          delay={75}
          effectDepth={2}
          ignoreRootAnimate
        >
          <AvatarCard />
          <TagCard />
          <slot name="side-left" />
        </AnimationSequence>
        <div class="flex flex-col gap-2">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
<script>
  const swupSetup = () => {
    console.log("Start Swup Setup");

    window.swup.hooks.on("animation:out:start", () => {
      console.log("Animation out start");
    });

    window.swup.hooks.on("visit:start", (visit) => {
      console.log("Visit start: ", visit);
    });

    window.swup.hooks.on("page:view", () => {
      console.log("Page View");
    });

    window.swup.hooks.on("visit:end", (visit) => {
      console.log("Visit end: ", visit);
    });
  };

  // if (window?.swup?.hooks) {
  //   swupSetup();
  // } else {
  //   document.addEventListener("swup:enable", swupSetup);
  // }
</script>
