---
import "@/styles/global.css";
import "@/styles/transition.css";

import Header from "@/components/Header.astro";
import Img from "@/components/ui/Img.astro";

import { SITE_CONFIG } from "@/consts/site";
---

<!doctype html>
<html lang={SITE_CONFIG.lang} class="bg-[var(--page-bg)] transition">
  <head>
    <script is:inline>
      const theme = localStorage.getItem("theme") || "light";
      const hue = localStorage.getItem("hue") || 250;
      document.documentElement.style.setProperty("--hue", hue);
      document.documentElement.setAttribute("data-theme", theme);
    </script>
    <slot name="head" />
  </head>
  <body class="min-h-screen">
    <div class="mx-auto max-w-[var(--page-width)]">
      <Header />
    </div>
    <div class="pointer-events-none absolute top-0 -z-10 w-full select-none">
      <Img
        src="/src/assets/demo-banner.jpg"
        alt="banner"
        class="h-[var(--banner-height)]"
      />
    </div>
    <main
      class="onload-animation relative top-[calc(var(--banner-height)_-_10rem)] mx-auto max-w-[var(--page-width)]"
    >
      <slot />
    </main>
  </body>
</html>
