---
import Base from "@/layouts/Base.astro";

import Img from "@/components/common/Img.astro";
import Navigation from "@/components/ui/Navigation.astro";
import Footer from "@/components/ui/Footer.astro";
import Profile from "@/components/ui/Profile.astro";
import CategoryList from "@/components/ui/CategoryList.astro";
import TagList from "@/components/ui/TagList.astro";

import { layoutConfig, themeConfig } from "@/consts";
import { toStyleVars } from "@/lib/utils";

const { bannerImgUrl } = themeConfig;
const {
  bannerHeight,
  bannerExtend,
  navigationHeight,
  contentWidth,
  asideWidth,
  layoutGap,
} = layoutConfig;

const pageWidth = contentWidth + 2 * (asideWidth + layoutGap);
const asideOffset = navigationHeight + layoutGap;
---

<Base>
  <div
    class="anim-banner-entering transition-page-banner absolute h-full dark:mask-b-from-10%"
    style={toStyleVars({ bannerHeight, bannerExtend })}
  >
    <Img class="h-full" src={bannerImgUrl} alt="banner" />
  </div>

  <Navigation class="anim-navigation-entering fixed top-0 z-50" />

  <main
    class:list={[
      "anim-main-entering transition-page-main absolute h-full w-full",
    ]}
    style={toStyleVars({ ...layoutConfig, pageWidth, asideOffset })}
  >
    <div
      id="swup-target"
      class:list={[
        "mx-auto grid px-2",
        "max-w-[var(--pageWidth)] grid-cols-[minmax(auto,var(--asideWidth)))_var(--contentWidth)_minmax(auto,var(--asideWidth))] gap-[var(--layoutGap)]",
      ]}
    >
      <aside>
        <div class="sticky top-[var(--asideOffset)]">
          <slot name="left-aside">
            <div class="space-y-2">
              <Profile />
              <CategoryList />
              <TagList />
            </div>
          </slot>
        </div>
      </aside>
      <div class="transition-swup-page relative">
        <slot />
        <Footer class="text-center text-sm" />
      </div>

      <aside class="transition-swup-page">
        <div class="sticky top-[var(--asideOffset)]">
          <slot name="right-aside" />
        </div>
      </aside>
    </div>
  </main>

  <style>
    @import "tailwindcss";
    .transition-page-banner {
      @apply transition-[max-height] duration-600;
    }
    .transition-page-main {
      @apply transition-[top] duration-600;
    }
    html {
      &:not([data-baseloc="root"]) {
        .transition-page-banner {
          @apply max-h-[calc(var(--bannerHeight)_-_var(--bannerExtend))];
        }
        .transition-page-main {
          @apply top-[calc(var(--bannerHeight)_-_var(--bannerExtend))];
        }
      }
      &[data-baseloc="root"] {
        .transition-page-banner {
          @apply max-h-[calc(var(--bannerHeight)_+_var(--bannerExtend))];
        }
        .transition-page-main {
          @apply top-[var(--bannerHeight)];
        }
      }
    }
  </style>
</Base>
