---
import { APPEARANCE } from "@/consts";
import { toInlineStyle, toStyleVars } from "@/lib/utils";
import type { StyledProps } from "@/types";

interface Props extends StyledProps {
  contentWidth?: number;
  gap?: number;
}

const {
  contentWidth = APPEARANCE.contentWidth,
  gap = 0.5,
  class: className = "",
  style: styleAttr = "",
} = Astro.props;

const asideWidth = APPEARANCE.asideWidth;
const pageWidth = contentWidth + 2 * (gap + asideWidth);
---

<section
  class:list={[
    className,
    "mx-auto grid w-full max-w-[var(--pageWidth)] grid-cols-[minmax(0px,var(--asideWidth))_1fr_minmax(0px,var(--asideWidth))] gap-[var(--gap)] px-2",
  ]}
  style={toInlineStyle([
    styleAttr,
    toStyleVars({
      pageWidth,
      asideWidth,
      contentWidth,
      gap,
    }),
  ])}
>
  <aside>
    <slot name="left-aside" />
  </aside>

  <slot />
  <aside>
    <slot name="right-aside" />
  </aside>
</section>
