---
import { APPEARANCE } from "@/consts";
import { toInlineStyle, toStyleVars } from "@/lib/utils";
import type { StyledProps } from "@/types";

interface Props extends StyledProps {
  contentWidth?: number;
  gap?: number;
}

const {
  contentWidth = APPEARANCE.contentWidth,
  gap = 0.5,
  class: className = "",
  style: styleAttr = "",
} = Astro.props;

const asideWidth = APPEARANCE.asideWidth;
const pageWidth = contentWidth + 2 * (gap + asideWidth);

const hasLeftAside = Astro.slots.has("left-aside");
const hasRightAside = Astro.slots.has("right-aside");
---

<section
  class:list={[
    className,
    "mx-auto grid w-full max-w-[var(--pageWidth)] grid-cols-[var(--asideWidth)_1fr_var(--asideWidth)] gap-[var(--gap)]",
  ]}
  style={toInlineStyle([
    styleAttr,
    toStyleVars({
      pageWidth,
      asideWidth,
      contentWidth,
      gap,
    }),
  ])}
>
  <aside class:list={["max-w-[var(--asideWidth)]"]}>
    <slot name="left-aside" />
  </aside>
  <slot />
  <aside class:list={["min-w-[var(--asideWidth)]"]}>
    <slot name="right-aside" />
  </aside>
</section>
