---
import Img from "@/components/common/Img.astro";
import ExternalSocials from "@/components/ui/ExternalSocials.astro";

import { SITE } from "@/consts";
import type { StyledProps } from "@/types";

interface Props extends StyledProps {
  avatarUrl: string;
}

const { class: className = "", style: styleAttr = "", avatarUrl } = Astro.props;
---

<div class:list={[className, "space-y-2 p-2"]} style={styleAttr}>
  <div class="flex gap-2">
    <div class="items-center space-y-2">
      <Img
        src={avatarUrl}
        alt="profile"
        class="rounded-surface border-border/50 aspect-square size-24 overflow-hidden border"
      />
      <ExternalSocials />
    </div>
    <div class="mb-2 flex-1 px-1">
      <h1 class="font-bold">{SITE.author}</h1>
      <p class="text-foreground/50 text-sm">{SITE.description}</p>
    </div>
  </div>
</div>
