---
import Img from "@/components/atom/common/Img.astro";
import type { StyledProps } from "@/types";
interface Props extends StyledProps {
  bannerUrl: string;
}

const { class: className, style: styleAttr, bannerUrl } = Astro.props;
---

<div
  class:list={[
    className,
    "animate-reveal-center pointer-events-none overflow-hidden select-none",
  ]}
  style={styleAttr}
>
  <Img src={bannerUrl} alt="banner" class="object-center opacity-70" />
</div>
