---
import Img from "@/components/common/Img.astro";

import { toInlineStyle, toStyleVars } from "@/lib/utils";
import type { StyledProps } from "@/types";

interface Props extends StyledProps {
  bannerUrl: string;
  bannerHeight: number;
}

const {
  class: className = "",
  style: styleAttr = "",
  bannerUrl,
  bannerHeight,
} = Astro.props;
---

<div
  class:list={[
    className,
    "pointer-events-none h-[var(--bannerHeight)] overflow-hidden select-none",
  ]}
  style={toInlineStyle([styleAttr, toStyleVars({ bannerHeight })])}
>
  <Img
    src={bannerUrl}
    alt="banner"
    class="h-full w-full object-cover object-center"
  />
</div>
