---
import { getCollection } from "astro:content";
import type { StyledProps } from "@/types";

import Decorator from "@/components/common/Decorator.astro";
import Link from "@/components/common/Link.astro";
import { joinUrl } from "@/lib/utils";
import { ROUTE } from "@/consts";

interface Props extends StyledProps {}

const { class: className = "", style: styleAttr = "" } = Astro.props;

const categories = await getCollection(
  "postIndex",
  (index) => index.data.type === "categories",
);
---

<div class:list={[className, "card px-4 py-2"]} style={styleAttr}>
  <Decorator>
    <span>Categories</span>
  </Decorator>
  <ul>
    {
      categories.map((category) => (
        <li>
          <Link
            class="text-foreground/70 hover:text-accent-foreground transition-colors"
            href={joinUrl(ROUTE["index"].href, category.id)}
          >
            {category.data.name}
            <span class="text-foreground/50 ml-1 text-sm">
              ({category.data.count})
            </span>
          </Link>
        </li>
      ))
    }
  </ul>
</div>
