---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  icon?: string;
}

const { icon, class: className, ...props }: Props = Astro.props;

const decoratorClass = "w-1 h-5 left-0 mr-2 bg-[var(--primary)] rounded-md";
---

<div class:list={[className, "flex items-center"]} {...props}>
  {
    icon && (
      <Icon class="icon mr-1 bg-[var(--primary)]" data-size="sm" name={icon} />
    )
  }
  {!icon && <span class={decoratorClass} />}
  <slot />
</div>
