---
import ThemeController from "@/components/ui/ThemeController.svelte";
import HueController from "@/components/ui/HueController.svelte";

import Author from "@/components/ui/Author.astro";
import CategoryList from "@/components/ui/CategoryList.astro";
import TagList from "@/components/ui/TagList.astro";

import type { StyledProps } from "@/types";

interface Props extends StyledProps {}
const { class: className = "", style: styleAttr = "" } = Astro.props;
---

<div class:list={[className, "relative flex flex-col gap-2"]} style={styleAttr}>
  <div
    class="bg-surface rounded-surface card absolute -top-2 flex -translate-y-full items-center gap-px"
  >
    <HueController client:only="svelte" />
    <ThemeController client:only="svelte" />
  </div>
  <Author
    class="card bg-surface/30 backdrop-blur-xs"
    avatarUrl="/src/assets/demo-profile.jpg"
  />
  <CategoryList />
  <TagList />
</div>
