---
import { Icon } from "astro-icon/components";

import type { StyledProps } from "@/types";

import Link from "@/components/common/Link.astro";

import { socialRegistry } from "@/consts";
import { objectEntries } from "@/lib/utils";

interface Props extends StyledProps {}

const { class: className = "", style: styleAttr = "" } = Astro.props;
---

<ul
  class:list={[className, "flex flex-wrap items-center gap-px"]}
  style={styleAttr}
>
  {
    objectEntries(socialRegistry).map(([_, link]) => (
      <li>
        <Link href={link.href} class="btn icon">
          <Icon name={link.icon} />
        </Link>
      </li>
    ))
  }
</ul>
