---
import type { StyledProps } from "@/types";

interface Props extends StyledProps {}

const { class: className = "", style: styleAttr = "" } = Astro.props;
---

<p class:list={[className, "text-foreground"]} style={styleAttr}>
  &copy; 2025 All Rights Reserved. Made with 🤍 by lilamaris
</p>
