---
import { APPEARANCE, ROUTE } from "@/consts";

import Link from "@/components/common/Link.astro";

import { objectEntries, toStyleVars } from "@/lib/utils";
import type { StyledProps } from "@/types";
import Img from "../common/Img.astro";

interface Props extends StyledProps {}

const { class: className = "", style: styleAttr = "" } = Astro.props;

const contentWidth = APPEARANCE.contentWidth;
---

<nav
  class:list={[
    className,
    "bg-surface/60 flex w-full justify-center backdrop-blur-sm",
  ]}
  style={styleAttr}
>
  <div
    class="flex max-w-[var(--contentWidth)] flex-1 items-center gap-4"
    style={toStyleVars({ contentWidth })}
  >
    <Img src="/src/assets/demo-icon.png" class="size-4 rounded-sm" />
    <ul class="flex gap-4">
      {
        objectEntries(ROUTE).map(([key, route]) => (
          <li>
            <Link href={route.href}>
              <span class="text-foreground/70 hover:text-foreground font-semilight text-sm transition">
                {route.label}
              </span>
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
