---
import type { StyledProps } from "@/types";

import Link from "@/components/common/Link.astro";
import Img from "@/components/common/Img.astro";
import HueController from "@/components/ui/HueController.svelte";
import ThemeController from "@/components/ui/ThemeController.svelte";

import { layoutConfig, themeConfig, routes } from "@/consts";
import { objectEntries, toInlineStyle, toStyleVars } from "@/lib/utils";

interface Props extends StyledProps {}

const { class: className = "", style: styleAttr = "" } = Astro.props;
const { contentWidth, navigationHeight } = layoutConfig;
const { siteIconUrl } = themeConfig;
---

<nav
  class:list={[
    className,
    "bg-surface/60 flex w-full justify-center backdrop-blur-sm",
    "h-[var(--navigationHeight)]",
  ]}
  style={toInlineStyle([
    styleAttr,
    toStyleVars({ navigationHeight, contentWidth }),
  ])}
>
  <div class="flex max-w-[var(--contentWidth)] flex-1 items-center gap-4">
    <Img src={siteIconUrl} class="hidden size-4 rounded-sm xl:block" />
    <ul class="flex flex-wrap gap-4 px-2 select-none xl:p-0">
      {
        objectEntries(routes).map(([_, route]) => (
          <li>
            <Link
              href={route.href}
              class="text-foreground/70 hover:text-foreground font-semilight text-sm text-nowrap transition-colors"
            >
              {route.label}
            </Link>
          </li>
        ))
      }
    </ul>
    <div class="ml-auto flex flex-wrap gap-px">
      <HueController client:only />
      <ThemeController client:only />
    </div>
  </div>
</nav>
